<?xml version="1.0"?>
<xml id="toolbox" style="display: none">
    <category name="Questions" id="demos" colour="#FFFF00" secondaryColour="#FFFF00">
			<button text="1) Translations" callbackKey="demo11" prog="exos/geometrie/frise_gouttes/q1_prog.xml" geo="exos/geometrie/frise_gouttes/q1_geogebra.ggb">
<![CDATA[
a) Construis la goutte 3 par translation de la goutte 2
b) Construis la goutte 4 par translation de la goutte 3
]]>
			</button>
			<button text="2) Sous-programmes" callbackKey="demo12" prog="exos/geometrie/frise_gouttes/q2_prog.xml" geo="exos/geometrie/frise_gouttes/q2_geogebra.ggb">
<![CDATA[
a) Complète le programme pour obtenir la goutte entre C et D
b) Complète le programme pour obtenir la goutte entre D et E
]]>
			</button>
			<button text="3) Généralisation" callbackKey="demo13"  prog="exos/geometrie/frise_gouttes/q3_prog.xml" geo="exos/geometrie/frise_gouttes/q3_geogebra.ggb"> 
<![CDATA[
a) Déplace dans GeoGebra le curseur n
b) Anime dans GeoGebra le curseur n (icone en bas à gauche)
]]>
			</button>
	</category>
    <category name="Tortue" id="motion"  colour="#4C97FF" secondaryColour="#3373CC">
			<block type="avancer_reculer">
				<value name="NAME">
					<shadow type="math_number">
						<field name="NUM">50</field>
					</shadow>
				</value>
			</block>
			<block type="var_gauche_droite">
				<value name="NAME">
					<shadow type="math_number">
						<field name="NUM">90</field>
					</shadow>
				</value>
			</block>
			<block type="tortue_teleport">
				<value name="ABS">
					<shadow type="math_number">
						<field name="NUM">0</field>
					</shadow>
				</value>
				<value name="ORD">
					<shadow type="math_number">
						<field name="NUM">0</field>
					</shadow>
				</value>
			</block>
			<block type="tortue_viser">
				<value name="ABS">
					<shadow type="math_number">
						<field name="NUM">0</field>
					</shadow>
				</value>
				<value name="ORD">
					<shadow type="math_number">
						<field name="NUM">0</field>
					</shadow>
				</value>
			</block>
            <block type="tortue_pos">
			</block>
			<block type="couleur_remplissage">
				<value name="COLOR">
					<shadow type="colour_picker">
						<field name="COLOUR">#00ff00</field>
					</shadow>
				</value>
			</block>
			<block type="baisser_lever_stylo"></block>
			<block type="debut_fin_remplissage"></block>
    </category>
    <category name="GeoGebra" id="ggb"  colour="#798933" secondaryColour="#798933">
            <block type="ggb_point">
				<value name="NOM">
					<shadow type="text">
						<field name="TEXT">A</field>
					</shadow>
				</value>
				<value name="X">
					<shadow type="math_number">
						<field name="NUM">1</field>
					</shadow>
				</value>
				<value name="Y">
					<shadow type="math_number">
						<field name="NUM">2</field>
					</shadow>
				</value>
			</block>
            <block type="ggb_commande_2pts">
				<value name="NOM">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="OBJ1">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="OBJ2">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
			</block>
            <block type="ggb_3_arg">
				<value name="NOM">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="OBJ1">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="OBJ2">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="OBJ3">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
			</block>
            <block type="ggb_intersections">
				<field name="OP">Intersection</field>
				<value name="NOM">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="OBJ1">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="OBJ2">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
			</block>
			<block type="ggb_valeur_de">
				<value name="NAME">
					<shadow type="text">
						<field name="TEXT">n</field>
					</shadow>
				</value>
			</block>
			<block type="ggb_valeur_de">
				<value name="NAME">
					<shadow type="text">
						<field name="TEXT">distance(P,Q)</field>
					</shadow>
				</value>
			</block>
            <block type="ggb_1_arg_fonct">
				<value name="OBJ1">
					<shadow type="text">
						<field name="TEXT">P</field>
					</shadow>
				</value>
			</block>
            <block type="ggb_1_arg">
				<value name="NOM">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="OBJ1">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
			</block>
			<block type="ggb_couleur_remplissage">
				<value name="OBJ1">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="COLOR">
					<shadow type="colour_picker">
						<field name="COLOUR">#00ff00</field>
					</shadow>
				</value>
			</block>
    </category>
    <category name="%{BKY_CATEGORY_CONTROL}" id="control" colour="#FFAB19" secondaryColour="#CF8B17">
        <block type="control_repeat" id="control_repeat">
            <value name="TIMES">
                <shadow type="math_whole_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
        </block>
        <block type="control_if" id="control_if"></block>
        <block type="control_if_else" id="control_if_else"></block>
        <block type="control_repeat_until" id="control_repeat_until"></block>
		<block type="controls_for">
			<field name="VARIABLE">variable</field>
			<value name="FROM">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
			</value>
			<value name="TO">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
			</value>
			<value name="BY">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
			</value>
		</block>
    </category>
    <category name="%{BKY_CATEGORY_OPERATORS}" id="operators" colour="#40BF4A" secondaryColour="#389438">
        <block type="operator_add" id="operator_add">
            <value name="NUM1">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
            <value name="NUM2">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_subtract" id="operator_subtract">
            <value name="NUM1">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
            <value name="NUM2">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_multiply" id="operator_multiply">
            <value name="NUM1">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
            <value name="NUM2">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_divide" id="operator_divide">
            <value name="NUM1">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
            <value name="NUM2">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_random" id="operator_random">
            <value name="FROM">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="TO">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
        </block>
        <block type="operator_lt" id="operator_lt">
            <value name="OPERAND1">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
            <value name="OPERAND2">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_equals" id="operator_equals">
            <value name="OPERAND1">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
            <value name="OPERAND2">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_gt" id="operator_gt">
            <value name="OPERAND1">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
            <value name="OPERAND2">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_and" id="operator_and"></block>
        <block type="operator_or" id="operator_or"></block>
        <block type="operator_not" id="operator_not"></block>
        <block type="operator_join" id="operator_join">
            <value name="STRING1">
                <shadow type="text">
                    <field name="TEXT">hello</field>
                </shadow>
            </value>
            <value name="STRING2">
                <shadow type="text">
                    <field name="TEXT">world</field>
                </shadow>
            </value>
        </block>
        <block type="operator_mod" id="operator_mod">
            <value name="NUM1">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
            <value name="NUM2">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_round" id="operator_round">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_mathop" id="operator_mathop">
			<field name="OPERATOR">sqrt</field>
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
    </category>
    <category name="%{BKY_CATEGORY_VARIABLES}" id="data" colour="#FF8C1A" secondaryColour="#DB6E00" custom="VARIABLE">
	</category>
    <category name="Sous-programmes" id="more" colour="#FF6680" secondaryColour="#FF4D6A" custom="PROCEDURE"></category>
</xml>
