<?xml version="1.0"?>
<xml id="toolbox" style="display: none">
    <category name="Questions" id="demos" colour="#FFFF00" secondaryColour="#FFFF00">
			<button text="1) Divisibilité par 3" callbackKey="demo11" prog="exos/si/q1_prog.xml" geo="exos/si/geogebra.ggb">
<![CDATA[
Dis si n est divisible par 3 et non.
]]>
			</button>
			<button text="2) Maximum de 2 nombres" callbackKey="demo12" prog="exos/si/q2_prog.xml" geo="exos/si/geogebra.ggb">
<![CDATA[
Complète le programme pour obtenir le maximum de a et de b
]]>
			</button>
			<button text="3) Maximum de 3 nombres" callbackKey="demo13" prog="exos/si/q3_prog.xml" geo="exos/si/geogebra.ggb">
<![CDATA[
a) Complète le programme pour obtenir le maximum de a et de b
b) Compare ce maximum avec c
]]>
			</button>
			<button text="4) Comptine" callbackKey="demo14"  prog="exos/si/q4_prog.xml" geo="exos/si/geogebra.ggb"> 
<![CDATA[
- n est un entier compris entre 1 et 12
- il faut afficher la phrase adaptée à n
]]>
			</button>
			<button text="5) Effet clignotant" callbackKey="demo15"  prog="exos/si/q5_prog.xml" geo="exos/si/q5_geogebra.ggb"> 
<![CDATA[
a) Complète le bloc "si" : crayon levé quand n vaut 0, crayon baissé sinon
b) Dans GeoGebra, change la valeur du curseur n
c) Anime dans GeoGebra le curseur n (icone en bas à gauche)
]]>
			</button>
	</category>
    <category name="GeoGebra" id="ggb"  colour="#798933" secondaryColour="#798933">
            <block type="ggb_point">
				<value name="NOM">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="X">
					<shadow type="math_number">
						<field name="NUM"></field>
					</shadow>
				</value>
				<value name="Y">
					<shadow type="math_number">
						<field name="NUM"></field>
					</shadow>
				</value>
			</block>
            <block type="ggb_commande_2pts">
				<value name="NOM">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="OBJ1">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="OBJ2">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
			</block>
			<block type="ggb_couleur_remplissage">
				<value name="OBJ1">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
				<value name="COLOR">
					<shadow type="colour_picker">
						<field name="COLOUR">#00ff00</field>
					</shadow>
				</value>
			</block>
    </category>
    <category name="Tortue" id="motion"  colour="#4C97FF" secondaryColour="#3373CC">
			<block type="avancer_reculer">
				<value name="NAME">
					<shadow type="math_number">
						<field name="NUM"></field>
					</shadow>
				</value>
			</block>
			<block type="var_gauche_droite">
				<value name="NAME">
					<shadow type="math_number">
						<field name="NUM">90</field>
					</shadow>
				</value>
			</block>
			<block type="tortue_teleport">
				<value name="ABS">
					<shadow type="math_number">
						<field name="NUM">0</field>
					</shadow>
				</value>
				<value name="ORD">
					<shadow type="math_number">
						<field name="NUM">0</field>
					</shadow>
				</value>
			</block>
			<block type="couleur_remplissage">
				<value name="COLOR">
					<shadow type="colour_picker">
						<field name="COLOUR">#00ff00</field>
					</shadow>
				</value>
			</block>
			<block type="baisser_lever_stylo"></block>
			<block type="debut_fin_remplissage"></block>
    </category>
    <category name="%{BKY_CATEGORY_CONTROL}" id="control" colour="#FFAB19" secondaryColour="#CF8B17">
        <block type="control_repeat" id="control_repeat">
            <value name="TIMES">
                <shadow type="math_whole_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="control_if" id="control_if"></block>
        <block type="control_if_else" id="control_if_else"></block>
    </category>
    <category name="Calculs" id="operators" colour="#40BF4A" secondaryColour="#389438">
			<block type="looks_say" id="looks_say">
				<value name="MESSAGE">
					<shadow type="text">
						<field name="TEXT"></field>
					</shadow>
				</value>
			</block>
        <block type="operator_add" id="operator_add">
            <value name="NUM1">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
            <value name="NUM2">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_subtract" id="operator_subtract">
            <value name="NUM1">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
            <value name="NUM2">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_multiply" id="operator_multiply">
            <value name="NUM1">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
            <value name="NUM2">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_divide" id="operator_divide">
            <value name="NUM1">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
            <value name="NUM2">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_lt" id="operator_lt">
            <value name="OPERAND1">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
            <value name="OPERAND2">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_equals" id="operator_equals">
            <value name="OPERAND1">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
            <value name="OPERAND2">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_gt" id="operator_gt">
            <value name="OPERAND1">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
            <value name="OPERAND2">
                <shadow type="text">
                    <field name="TEXT"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_and" id="operator_and"></block>
        <block type="operator_or" id="operator_or"></block>
        <block type="operator_not" id="operator_not"></block>
        <block type="operator_random" id="operator_random">
            <value name="FROM">
                <shadow type="math_number">
                    <field name="NUM">1</field>
                </shadow>
            </value>
            <value name="TO">
                <shadow type="math_number">
                    <field name="NUM">10</field>
                </shadow>
            </value>
        </block>
        <block type="operator_mod" id="operator_mod">
            <value name="NUM1">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
            <value name="NUM2">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_round" id="operator_round">
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
        <block type="operator_mathop" id="operator_mathop">
			<field name="OPERATOR">sqrt</field>
            <value name="NUM">
                <shadow type="math_number">
                    <field name="NUM"></field>
                </shadow>
            </value>
        </block>
    </category>
    <category name="%{BKY_CATEGORY_VARIABLES}" id="data" colour="#FF8C1A" secondaryColour="#DB6E00" custom="VARIABLE">
	</category>
    <category name="Sous-programmes" id="more" colour="#FF6680" secondaryColour="#FF4D6A" custom="PROCEDURE"></category>
</xml>
